body {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.flex-item {
    flex: 1;
    position: relative;
}

.image {
    width: 90%;
    height: 85vh;
    object-fit: cover;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #3A2719;
    font-size: 12px;
}

.header-text {
    font-family: 'Cursive', serif;
    line-height: 1.5;
    font-size: 85px;
}

.highlight-text {
    font-family: 'Cursive', serif;
    line-height: 1.5;
    font-size: 85px;
    color: #FFB210;
}

.box {
    position: absolute;
    bottom: 100px;
    left: 40vw;
    width: 59vw;
    height: 150px;
    background: rgba(255, 178, 25, 0.7);
    border-radius: 25px;
    z-index: 0;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.box-title {
    font-family: 'Trebuchet MS', serif;
    font-size: 28px;
    color: #3A2719;
    font-weight: bold;
}

.footer-box {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 60%;
    height: 150px;
    background: rgba(165, 232, 241, 0.7);
    border-radius: 25px;
    z-index: 0;
}

.container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;
}

.container-title {
    font-family: 'Cursive', serif;
    line-height: 1.5;
    font-size: 90px;
    color: #3A2719;
}

.sub-title {
    font-family: 'Trebuchet MS', serif;
    line-height: 1.5;
    font-size: 25px;
    color: #3A2719;
}

.card {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100vw;
    height: 400px;
    background: rgba(255, 178, 25, 0.7);
    border-radius: 25px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}

.card-image {
    box-size: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 200px;
}

.card-title {
    font-family: 'Cursive', serif;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-description {
    font-family: 'Trebuchet MS', serif;
    font-size: 28px;
    color: #3A2719;
    font-weight: bold;
}

.button {
    position: absolute;
    bottom: 100px;
    left: 200px;
    width: 500px;
    height: 76px;
    background-color: #B85B2D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.button-text {
    font-family: 'Trebuchet MS', serif;
    color: white;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
}
