.generic-select {
    height: 60px;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #000;
    background-color: #f3f3f3;
    color: #3A2719;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    cursor: pointer;
    width: 400px;
}


