.menu-wrapper{
    width: 100vw;
    background-color: #A5E8F1;
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    background-image: url('/images/logo.webp');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área da div */
    background-position: center; /* Centraliza a imagem */
    width: 120px; /* A largura será ajustada de acordo com o conteúdo ou a div pai */
    height: 120px; /* Ajusta a altura para preencher a tela inteira */
}

.nav-wrapper {
    display: flex;
    flex: row;
    justify-content: space-between;
}

.nav-wrapper a li {
    margin: 0px 20px;
    padding: 20px 10px;
    color: #3A2719;
    font-size: 18px;
}

.nav-ajuda a li{
    background-color: #FFB210;
    padding: 20px;
    color: #fff;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 18px;
}
  
