.register-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 2rem 2rem;
    padding: 1rem;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.button-save {
    background-color: #FFB210;
    color: white;
    border-radius: 20px;
    height: 55px;
    width: 250px;
}
