.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3A2719;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

/*Entire form */

.top-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.center-form {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
}


.text-area-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.button-save {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: #FFB210;
    color: white;
    border-radius: 20px;
    height: 55px;
    width: 250px;
}

@media (max-width: 1000px) {
    .text-area {
        width: 600px !important; 
    }
}

@media (max-width: 630px) {
    .text-area {
        width: 400px !important; 
    }

    .generic-input {
        width: 300px !important;
    }

    .generic-select {
        width: 300px !important;
    }
}

@media (max-width: 425px) {
    .text-area {
        width: 300px !important; 
    }

    .generic-input {
        width: 200px !important;
    }

    .generic-select {
        width: 200px !important;
    }
}


