/* Section */
.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

/* Section 1 */
.section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.image-caramel-dog {
  width: 50%;
  height: auto;
}

.donation {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-1 {
  color: #3a2719;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}

.subtitle {
  color: #3a2719;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.image-qrcode-pix {
  width: 90%;
  height: auto;
}

.key-pix,
.name-pix {
  color: #000000;
  font-size: 10px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

/* Section 2 */

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
}

.container-major-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.container-donation-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  gap: 4px;
  z-index: 1;
}

.image-wrapper-1 {
  width: 76%;
  height: auto;
}

.small-box-1 {
  background-color: #b85b2d;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 18px;
  font-size: 12px;
  font-weight: bolder;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.small-box-1 h3 {
  line-height: 1;
}

.box-1 {
  background-color: #ffb210;
  color: #3a2719;
  width: 90%;
  height: auto;
  padding: 28px 20px 20px 20px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  z-index: 0;
  margin-top: -20px;
}

.box-1 ul {
  width: 100%;
  font-size: 12px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}

.container-major-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.box-2 {
  background-color: #ffb210;
  color: #3a2719;
  width: 88%;
  height: auto;
  border-radius: 20px;
  text-align: start;
  padding: 28px 20px 20px 40px;
  z-index: 0;
  margin-top: -20px;
}

.box-2 ul {
  width: 100%;
  font-size: 12px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}

.box-1 ul li,
.box-2 ul li {
  list-style: disc;
}

.container-collection-point-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  gap: 12px;
  z-index: 1;
}

.image-wrapper-2 {
  max-width: 60%;
  height: auto;
}

.small-box-2 {
  background-color: #b85b2d;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 18px;
  font-size: 12px;
  font-weight: bolder;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
}

.small-box-2 h3 {
  line-height: 1;
}

.box-3 {
  font-size: 16px;
}

/* Section 3 */

.section-3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.title-2 {
  color: #3a2719;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
}

.image-animal-volunteer {
  width: 40%;
  height: auto;
}

.box-3 {
  background-color: #ffb210;
  color: #3a2719;
  width: 60%;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
}
.box-3 a {
  text-decoration: underline;
  font-weight: bold;
}

.container-help {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-items: center;
}

/* Responsive */
@media (min-width: 430px) {
  .sections {
    padding-top: 30px;
  }

  .box-1 {
    padding: 20px 20px 20px 56px;
  }

  .container-donation-image,
  .container-collection-point-image {
    gap: 4px;
    width: 50%;
  }

  .small-box-1,
  .small-box-2 {
    font-size: 22px;
  }

  .image-wrapper-1 {
    width: 60%;
    height: auto;
  }

  .box-2,
  .box-3 {
    padding: 20px 40px 20px 40px;
    margin-top: -20px;
  }

  .box-1 ul,
  .box-2 ul {
    font-size: 16px;
  }

  .container-collection-point-image {
    gap: 12px;
  }

  .box-3 {
    font-size: 15px;
    padding: 20px 4px 20px 4px;
  }
}

@media (min-width: 768px) {
  .small-box-1,
  .small-box-2 {
    font-size: 26px;
  }
  .image-wrapper-1 {
    width: 64%;
  }

  .container-donation-image {
    gap: 8px;
    width: 40%;
  }

  .box-2 {
    padding: 20px 80px 20px 60px;
  }

  .container-collection-point-image {
    gap: 12px;
  }
  .sections {
    gap: 180px;
  }

  .section-2 {
    gap: 140px;
  }
  .title-1,
  .title-2 {
    font-size: 40px;
  }

  .subtitle {
    font-size: 28px;
  }

  .image-qrcode-pix {
    width: 70%;
  }

  .key-pix,
  .name-pix {
    font-size: 16px;
  }

  .box-1 ul,
  .box-2 ul,
  .box-3 {
    font-size: 26px;
  }

  .small-box-1,
  .small-box-2 {
    font-size: 36px;
  }
}

@media (min-width: 1024px) {
  .sections {
    padding-top: 80px;
  }
  .section-2 {
    gap: 200px;
  }

  .image-wrapper-1 {
    width: 64%;
  }

  .container-donation-image {
    gap: 8px;
  }

  .box-2 {
    padding: 20px 80px 20px 60px;
  }

  .container-collection-point-image {
    gap: 12px;
  }
  .title-1,
  .title-2 {
    font-size: 64px;
  }

  .subtitle {
    font-size: 32px;
  }

  .image-qrcode-pix {
    width: 60%;
  }

  .key-pix,
  .name-pix {
    font-size: 24px;
  }

  .box-3 {
    min-height: 600px;
    max-width: 800px;
  }

  .box-1 ul,
  .box-2 ul,
  .box-3 {
    font-size: 36px;
  }

  .small-box-1,
  .small-box-2 {
    font-size: 48px;
  }
}
